{% extends 'base.html' %}
{% block title %}
|Home
{% endblock title%}

{% block content %}
<h3 class="mt-5">Products:</h3>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-img-top">
                    <!-- <img class="w-100" src="{{product.image}}" alt="product image"> -->
                    <img class="w-100" height="220px" src="{{product.image.url}}" alt="product image">
                </div>
                <div class="card-body text-center ">
                    <div class="card-title">
                        <strong>Name:</strong>{{product.name}}
                    </div>
                    <div class="card-text">
                        <strong>Price</strong>{{product.price}}
                    </div>
                    <button class="btn btn-info"><a class="text-white"
                            href="{% url 'products:product_detail' product.id%}">Details</a> </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <!--Paginator -->
            {% if products.has_previous%}
            <button class="btn btn-primary"><a class="text-white" href="?page=1">1</a></button>
            <button class="btn"><a href="?page={{products.previous_page_number}}">Previous</a></button>
            
            {% endif %}
 
            <span>Pages: {{products.number}} of {{products.paginator.num_pages}}</span>
            {% if products.has_next%}
            <button class="btn"><a href="?page={{products.next_page_number}}">Next</a></button>
            <button class="btn btn-primary"><a class="text-white" href="?page={{products.paginator.num_pages}}">Last</a></button>
            {%endif %}
            
                   </div>
    </div>
</div>

{% endblock content%}