{% extends 'base.html' %}
{% block title %}
|Home
{% endblock title%}

{% block content %}
<h3>Products</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-img-top">
                    <img class="w-100" src="{{product.image}}" alt="product image">
                </div>
                <div class="card-body text-center ">
                    <div class="card-title">
                        <strong>Name:</strong>{{product.name}}
                        <strong>Price:</strong>{{product.price}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body ">
                    <div class="card-title">
                        <strong>Name:</strong>{{product.name}}
                    </div>
                    <div class="card-text">
                        <strong>Price</strong>{{product.price}}
                        <p><strong>Discounted Price </strong>{{product.discount_price}}</p>
                        <p><strong>Category</strong> {{product.category}}</p>
                        <p><strong>Description:</strong>{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}